{% extends "layout.html" %}
{% block body %}

<form method="POST">
    <table>
        <tr>
            <td>{{ form.name.label }}</td>
            <td>{{ form.name }}</td>
        </tr>
        <tr>
            <td>{{ form.weight.label }}</td>
            <td>{{ form.weight }}</td>
        </tr>
        <tr>
            <td>{{ form.division.label }}</td>
            <td>{{ form.division }}</td>
        </tr>
    </table>
    {{ form.submit }}
    {{ form.hidden_tag() }}
</form>

{% endblock body %}