{% extends "layout.html" %}
{% block body %}
    {% for division in divisions %}
    <table>
        <h2>{{ division["name"] }}</h2>
        <tr>
            <td><b>Weight_Range</b></td>
            <td>{{ division["weight_range"] }}</td> 
        </tr>
    </table>
    
    <h3>Boxers of {{ division["name"] }}</h3>
    <table>
        <tr>
            <th>Name</th>
            <th>Weight</th>
        </tr>
        {% for boxer in division["boxers"] %}
        <tr>
            <td>{{ boxer["name"] }}</td> 
            <td>{{ boxer["weight"] }}</td> 
        </tr>
        {% endfor %}
    </table>

    {% endfor %}
{% endblock body %}